
.container {
    max-width: 95%;
}

/* ListingsPage */
.grid-item {
    float: left;
    width: 200px;
    height: 200px;
    background: #e6e5e4;
    border: 2px solid #b6b5b4;
}

/*.grid-item--width2 { width: 120px; }*/
/*.grid-item--height2 { height: 120px; }*/

/** See ListingMini.jsx */
.listing-mini {
    max-width: 500px;
    text-align:center;
}
.listing-mini img {
    border-radius: 10px;
}