.container {
    max-width: 95%;
}
.grid-item {
    float: left;
    width: 200px;
    height: 200px;
    background: #e6e5e4;
    border: 2px solid #b6b5b4;
}
/** See ListingMini.jsx */
.listing-mini {
    max-width: 500px;
    text-align:center;
}
.listing-mini a {
  color: inherit;
}
.IPFSImage {
    border-radius: 10px;
}
.eth-event {
    margin: 15px;
}
.eth-event td:nth-child(1) {
    width: 200px;
}
.booking-event {
    padding: 20px 20px;
    background-color: #f5eaea;
    margin: 10px;
    width: 50%;
    border-radius: 20px
}

.new-listing {
  margin: 0 auto 0;
  width: 70%;
  text-align: center;
}

.back-button-div {
  margin: 20px 0px;
}