.listing-search-area {
    max-width:1000px;
    padding:10px 10px;
    margin: 0 auto 0;
    text-align: center;
}
.countrypicker-wrapper {
    width: 40%;
    display: inline-block;
}
.searchButton-wrapper {
    padding: 10px 10px;
}
.searchButton-wrapper .button {
    width: 150px;
}